.card{
    width: 280px;
}

.card .cabecalho{
    background-color: rgb(7, 214, 0);
    border-radius: 10px 10px 0px 0px;
}

.card img{
    width: 180px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.card .rodape{
    background: #003087;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.card .rodape h4{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}

.card .rodape h5{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}